html {
  
  
height: 100%;

}

body {
  
  /* background: url(images/wildlife-photography-of-tiger-951007.jpg); */

}

.landing-page {
  background: url(images/wildlife-photography-of-tiger-951007.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(60%);
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  /* background: url(images/wildlife-photography-of-tiger-951007.jpg); */
  
}

.navbar {
  opacity: .6;
  background-color: rgb(207, 222, 235);
}
.navbar .navbar-brand .nav-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5287bd;
  /* text-shadow: 1px 1px 2px rgb(117, 116, 116), 0 0 25px #bbbbbb, 0 0 5px rgb(62, 62, 238); */
}
.navbar-item{
  font-size: 1.25rem;
}
.start-text {
  display: grid;
  justify-content: center;
}

/* LANDING PAGE TYPOGRAPHY */
.start-text {
  text-align: center;
  padding-top: 7%;
  color: aliceblue;
  font-family: 'Raleway';
  text-shadow: 1px 1px 2px black, 0 0 25px #bbbbbb, 0 0 5px rgb(62, 62, 184);
}

.pretext {
  font-size: 3.0rem;
  padding-bottom: 5%;
}

.center-text {
  font-family: "Eagle Lake";
  font-size: 5.0rem;
  font-weight: bold;
  color: #5287bd;
  text-shadow: 1px 1px 2px black, 0 0 25px #bbbbbb, 0 0 5px darkblue;
}

.center-text-lower {
  font-style: italic;
  font-size: 3.0rem;
}
/* LANDING PAGE TYPOGRAPHY END  */

/* LANDING PAGE MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {  
.start-text .center-text {
  font-size: 3.0rem;
 }}
 @media only screen and (orientation: landscape) {
  html, body {
    height: auto;
  }
}
 
 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) { 
   html, body {height: 100%;}
  .start-text .center-text {
  font-size: 3.5rem;
 }}
 
 /* Large devices (desktops, 992px and up) */
 /* @media (min-width: 992px) { h1 {
  font-size: 4.5rem;
 }} */
 
 /* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {
  .start-text .center-text {
  font-size: 5.0rem;
 }}
 /* H2 text */
 /* Small devices (landscape phones, 576px and up) */
 @media (max-width: 576px) { 
   .start-text .pretext, 
   .start-text .center-text-lower {
  font-size: 2.0rem;
 }}
 
 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) { 
  .start-text .pretext, 
  .start-text .center-text-lower {
  font-size: 2.5rem;
 }}
 
 /* Large devices (desktops, 992px and up) */
 /* @media (min-width: 992px) { .center-text-lower {
  font-size: 3.0rem;
 }} */
 
 /* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {
   .start-text .pretext,
 .start-text .center-text-lower {
  font-size: 3.0rem;
 }}
/* LANDING PAGE MEDIA QUERIES END   */



/* COMMITTEE PAGE CSS */
.comm-navbar {
  background-color: #1073d6;
}
.navbar .navbar-brand .comm-navbar-brand {
  color: #a3b9cf;
}

.committee-section {
  background-color: antiquewhite;
  position: relative;
}

.comm-div {
  height: auto;
  position: relative;
  
 }
 .comm-hd-text {
   font-family: 'Eagle Lake';
   color: #5287bd;
   text-shadow: 1px 1px 2px black, 0 0 25px #bbbbbb, 0 0 5px rgb(62, 62, 184);
   font-size: 3.5rem;
   padding: 3% 10% 3%;
   background-color: antiquewhite;
 }
 


.committee-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 10px;
  justify-content: center;
  position: relative;
  padding: 2% 10% 7%;
}
@media (max-width: 540px) {
  .comm-text .comm-hd-text {
    font-size: 2.5rem;
    text-align: center;
  }
}